.titulo {
  font-family: daxline-pro-black;
  font-size: 4vmax;
}

.sub {
  font-family: daxline-pro-regular;
  font-size: 1.5vmax;
}

.center {
  padding-top: 2% !important;
  padding-bottom: 2% !important;
}
