.texto-filtro {
  font-family: daxline-pro-light;
  font-size: 1.1vmax;
  color: #3F3F41;
}

#disponivel {
  width: 1.2vmax;
  height: 1.2vmax;
}

.container-filtro {
  margin-top: 0.7%;
  margin-bottom: 0.7%;
  display: flex;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.filtros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.filtro {
  margin-left: 3%;
  display: inline-flex;
}

.preco {
  background-color: white;
  border-radius: none !important;
  border-color: white !important;
}

button {
  padding-left: 20% !important;
  padding-right: 20% !important;
  font-family: daxline-pro-bold;
  font-size: 1vmax;
  color: #3F3F41;
}

label {
  font-family: daxline-pro-light;
  font-size: 1.2vmax;
  color: #3F3F41;
}

.titulo {
  font-family: daxline-pro-extrabold;
  font-size: 2vmax;
}

.container-titulo {
  padding-top: 2% !important;
  padding-bottom: 1% !important;
}

.filtro label {
  margin-left: 1%;
  margin-bottom: 0% !important;
}

.form-check-input {
  width: 1.2vmax;
  height: 1.2vmax;
}

.container-resultado {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.card-title {
  font-family: daxline-pro-medium;
  font-size: 1.75vmax;
  color: #3F3F41;
}

a {
  width: 100% !important;
  font-family: daxline-pro-medium;
  font-size: 1.5vmax;
  color: white;
  background-color: #006270;
  border: 0% !important;
  border-radius: 0% !important;
}

.container-card {
  margin-top: 3% !important;
}

.icon-estrela {
  width: 11%;
  height: 11%;
}

.button {
  flex: 0 0 0%;
  margin-bottom: 0px !important;
}

.alinhar {
  margin-bottom: 2% !important;
  align-items: center;
  flex: 0 0 0%;
}

.card-roupa {
  height: 100%;
  flex: 0% !important;
}

@media (max-width: 767px) {
  .option {
    padding-left: 15% !important;
  }
}

@media (min-width: 768px) {
  .dropdown-menu {
    padding-left: 3.9% !important;
  }
}

@media (min-width: 992px) {
  .dropdown-menu {
    padding-left: 2.7% !important;
  }
}

@media (min-width: 1200px) {
  .dropdown-menu {
    padding-left: 2.5% !important;
  }
}
