<div class="container-fluid center">
  <div class="col-12 top-pag center">
    <div [formGroup]="filtroForm" class="col-11 container-filtro">
      <div class="filtros col-10">
        <div class="texto-filtro">Filtar por:</div>
        <div class="filtro">
          <input formControlName="disponivel" type="radio" name="disponivel" id="disponivel" value="true"
            (input)="filtro()" #disponivel>
          <label class="texto-filtro" for="disponivel">Disponível</label>
        </div>
        <div class="filtro">
          <div class="dropdown-toggle preco texto-filtro" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Preço
          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="option" *ngFor="let dropdown of dropdownpreco">
              <input formControlName="preco" class="form-check-input" type="radio" name="preco" id="{{dropdown.nome}}"
                value="{{dropdown.value}}" (blur)="filtro()">
              <label class="form-check-label" for="{{dropdown.nome}}">{{dropdown.header}}</label>
            </div>
          </div>
        </div>
        <div class="filtro">
          <div class="dropdown-toggle preco texto-filtro" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categorias
          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="option" *ngFor="let dropdown of dropdowncat">
              <input formControlName="categoria" class="form-check-input" type="radio" name="categoria"
                id="{{dropdown.nome}}" value="{{dropdown.value}}" (blur)="filtro()">
              <label class="form-check-label" for="{{dropdown.nome}}">{{dropdown.header}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <button type="button" (click)="clear()">Limpar</button>
      </div>
    </div>
  </div>
  <div class="col-11 container-titulo">
    <div class="titulo">Resultados</div>
  </div>

  <div class="col-11 container-resultado">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 container-card center" *ngFor="let produto of produtos">
      <div class="col-11 card-roupa">
        <div class="imagem" style="--aspect-ratio: 4/3">
          <span *ngFor="let imagem of produto.imagens">
            <img class="card-img-top" [ngClass]="{'vertical': 4 > produto.id}" *ngIf="imagem.destacada == true"
              src="../../assets/imagens/{{imagem.nome}}">
          </span>
        </div>
        <div class="card-body">
          <div class="card-title">{{produto.nome}}</div>

        </div>
      </div>
      <div class="col-11 alinhar">
        <div>
          <span><img class="icon-estrela"
              [attr.src]="produto.nota > 1 ? '../../assets/icons/star.svg' : '../../assets/icons/star-outline.svg' "></span>
          <span><img class="icon-estrela"
              [attr.src]="produto.nota >= 2  ? '../../assets/icons/star.svg' : '../../assets/icons/star-outline.svg' "></span>
          <span><img class="icon-estrela"
              [attr.src]="produto.nota >= 3 ? '../../assets/icons/star.svg' : '../../assets/icons/star-outline.svg' "></span>
          <span><img class="icon-estrela"
              [attr.src]="produto.nota >= 4 ? '../../assets/icons/star.svg' : '../../assets/icons/star-outline.svg' "></span>
          <span><img class="icon-estrela"
              [attr.src]="produto.nota >= 5 ? '../../assets/icons/star.svg' : '../../assets/icons/star-outline.svg' "></span>
        </div>
        <div class="categoria-disponibilidade">
          <div class="categoria-preco">{{produto.categoria}} -
            <span *ngIf="produto.precoMedio == 1">$</span>
            <span *ngIf="produto.precoMedio == 2">$$</span>
            <span *ngIf="produto.precoMedio == 3">$$$</span>
            <span *ngIf="produto.precoMedio == 4">$$$$</span>
          </div>
          <div>
            <div class="categoria-preco">{{produto.disponivel === true ? "Disponível" : "Indisponível"}}</div>
          </div>
        </div>
      </div>
      <div class="col-11 button">
        <a [routerLink]="['/', 'detalhe']" [queryParams]="{id: produto.id}" class="btn">DETALHE</a>
      </div>
    </div>
  </div>
</div>
