<div class="container-fluid center">
  <div class="col-12 top-pag center"></div>
  <div class="col-11 container-detalhe center">
    <div class="col-11 col-sm-9 col-md-7 col-xl-5 col-lg-5">
      <div id="carouselImagem" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li *ngFor="let img of produto.imagens; let i = index" data-target="#carouselImagem" data-slide-to="i"
            [ngClass]="{'active': i == 0}"></li>
        </ol>
        <div class="carousel-inner">
          <div *ngFor="let img of produto.imagens; let i = index" class="carousel-item imagem"
            [ngClass]="{'active': i == 0}" style="--aspect-ratio: 4/3">
            <img [ngClass]="{'vertical': 4 > produto.id}" class="d-block w-100" src="../../assets/imagens/{{img.nome}}">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselImagem" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselImagem" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="nome">{{produto.nome}}</div>
      <div class="categoria-disponibilidade">
        <div class="categoria-preco">{{produto.categoria}} -
          <span *ngIf="produto.precoMedio == 1">$</span>
          <span *ngIf="produto.precoMedio == 2">$$</span>
          <span *ngIf="produto.precoMedio == 3">$$$</span>
          <span *ngIf="produto.precoMedio == 4">$$$$</span>
        </div>
        <div>
          <div class="categoria-preco">{{produto.disponivel === true ? "Disponível" : "Indisponível"}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
