.center {
  height: 50% !important;
}

.container-detalhe {
  margin-top: 2%;
}

.nome {
  font-family: daxline-pro-medium;
  color: #3F3F41;
  font-size: 1.75vmax;
}

.top-pag {
  padding: 0.6% !important;
}
