div {
  padding: 0 !important;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.top-pag {
  border-top: 1px solid #3F3F41;
  border-bottom: 1px solid #808184;
}

.categoria-disponibilidade {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.categoria-preco {
  font-family: daxline-pro-thin;
  font-size: 1.2vmax;
  color: #808184;
}

.imagem {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.imagem::before {
  content: "";
  height: 0;
  float: left;
  padding-bottom: calc( 100% / (var(--aspect-ratio)));
}

.imagem::after {
  content: "";
  display: block;
  clear: both;
}

.imagem img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.vertical {
  transform: translate(0%, 0%) !important;
  top: -15% !important;
  left: 0% !important;
  height: auto !important;
}

@font-face {
  font-family: daxline-pro-this;
  src: url(assets/fonts/DaxlinePro-Thin_13132.ttf) format("opentype");
}

@font-face {
  font-family: daxline-pro-light;
  src: url(assets/fonts/DaxlinePro-Light_13129.ttf) format("opentype");
}

@font-face {
  font-family: daxline-pro-regular;
  src: url(assets/fonts/DaxlinePro-Regular_13131.ttf) format("opentype");
}

@font-face {
  font-family: daxline-pro-medium;
  src: url(assets/fonts/DaxlinePro-Medium_13130.ttf) format("opentype");
}

@font-face {
  font-family: daxline-pro-bold;
  src: url(assets/fonts/DaxlinePro-Bold_13127.ttf) format("opentype");
}

@font-face {
  font-family: daxline-pro-extrabold;
  src: url(assets/fonts/DaxlinePro-ExtraBold_13128.ttf) format("opentype");
}

@font-face {
  font-family: daxline-pro-black;
  src: url(assets/fonts/DaxlinePro-Black_13126.ttf) format("opentype");
}
